.AddDrawing {
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    padding: 10px;
    border-radius: 15px;
}

.AddDrawing-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.AddDrawing-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.AddDrawing-row-container {
    display: flex;
    flex-direction: column;
}

.AddDrawing-text {
    padding-left: 10px;
    padding-right: 10px;
}

.AddDrawing-button-container {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.AddDrawing-button {
    margin: 5px;
    padding: 8px;
    background-color: white;
    border: none;
    font-size: 20px;
}

.AddDrawing-button:hover {
    cursor: pointer;
}